
::-webkit-scrollbar{
    display: none;
}

@keyframes roll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-roll {
    animation: roll 20s linear infinite;
    
  }
  